<section class="content" id="vue">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form class="form-horizontal">
                    <div class="box-footer">
                    </div>
                    <div class="box-header">
                        <div class="form-group" style="margin-right: 10px;">
                            <label class="col-xs-2 control-label">对象类名称:</label>
                            <div class="col-xs-2">
                                <input class="form-control input-sm" :value="className" placeholder="" disabled="" type="text" id="className">
                            </div>
                            <label class="col-xs-2 control-label">对象名称:</label>
                            <div class="col-xs-2">
                                <input class="form-control input-sm" v-model="entityName" type="text" id="entityName">
                            </div>
                            <label class="col-xs-2 control-label">关键字:</label>
                            <div class="date col-xs-2">
                                <input class="form-control input-sm"  v-model="keyword"  id="keyword" type="text">
                            </div>
                        </div>
                        <div class="form-group" style="margin-right: 10px">
                            <label class="col-xs-2 control-label">抽取时间范围:</label>
                            <div class="date col-xs-2">
                                <input class="form-control  datepicker input-sm" readonly="readonly" id="beginTime" type="text">
                            </div>
                            <label class="col-xs-2 control-label">至:</label>
                            <div class="date col-xs-2">
                                <input class="form-control  datepicker input-sm" readonly="readonly" id="endTime" type="text">
                            </div>
                            <label class="col-xs-2 control-label">是否编目:</label>
                            <div class="col-xs-2" style="padding-top:5px;">
                                <input name="optionsRadios" value="1" id="isCataLog" type="radio" @click="changeIsCataLog('1')" :checked="isCataLog=='1'"><label for="isCataLog">是</label>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input name="optionsRadios" value="0" id="isNotCataLog" type="radio" @click="changeIsCataLog('0')" :checked="isCataLog=='0'"><label for="isNotCataLog">否</label>
                            </div>
                            <!-- /.input group -->
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right" style="padding-right: 30px">
                                <input type="button" value="查询" style="width:80px;height: 35px;" class="btn btn-primary" @click="search">
                                <input type="button" value="重置" style="width:80px;height: 35px;" class="btn btn-primary" @click="reset">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-footer">
                                <div style="padding-top:10px;" class="pull-left">
                                    <input name="optionsChoose" id="thisPage" value="thisPage" type="radio" @click="choosePage"><label for="thisPage">全选当前页&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                                    <input name="optionsChoose" id="clear" value="clear" type="radio" @click="clear"><label for="clear">清空当前页&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                                    <input name="optionsChoose" id="all" value="all" type="radio" @click="chooseAll"><label for="all">全选所有内容</label>
                                </div>
                                <label style="padding-top:10px;margin-left:40px">展示：</label>
                                <select id="pagesize" style="width:50px" @change="changePageSize">
                                    <option v-for='item in pageSizeList' :selected="pageSize==item">{{item}}</option>
                                </select>
                                <label style="padding-top:10px;margin-left:5px">条数据</label>
                                <div style="padding: 5px 5px 5px 5px;padding-right: 20px" class="pull-right ">
                                    <input type="button" value="元数据检查" :disabled="isCataLog=='0'" class="btn btn-primary" id="check" style="width:80px;height: 35px;padding-left: 3px;" @click="dataCheck">
                                    <input type="button" value="批量导出" :disabled="isCataLog=='0'" class="btn btn-primary" id="export" style="width:80px;height: 35px;" @click="batchExport">
                                    <!-- <input type="button" value="更新节点" :disabled="isCataLog=='0'" class="btn btn-primary" id="updateNode" style="width:80px;height: 35px;" @click="showUpdate"> -->
                                    <input type="button" value="更新对象" :disabled="isCataLog=='0'" class="btn btn-primary" id="update" style="width:80px;height: 35px;" @click="catalogue(1)">
                                    <input type="button" value="目录提交" :disabled="isCataLog=='1'" class="btn btn-primary" id="catalog" style="width:80px;height: 35px;" @click="goCataLog">
                                    <input type="button" value="取消编目" :disabled="isCataLog=='0'" class="btn btn-primary" id="delete" style="width:80px;height: 35px;padding: 0px" @click="deleteCatalog">
                                    <input type="button" value="返回" class="btn btn-primary" id="back" style="width:80px;height: 35px;" @click="back">
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="metaDataDetail" style="font-size: 16px;min-width: 1200px">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="min-width: 150px">唯一标识</th>
                                        <th style="min-width: 150px">名称</th>
                                        <th style="min-width: 150px">抽取时间</th>
                                        <th width="30%">摘要</th>
                                        <th style="min-width: 100px">导出资源</th>
                                        <th style="min-width: 150px">编目时间</th>
                                        <th style="min-width: 150px">数据源</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in varList">
                                        <td>
                                            <input type="checkbox" name="choose" @click="chooseOne" :value="item.objId"></td>
                                        <td :title="item.objId">
                                            <div style="max-width:150px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;">{{item.objId}}</div>
                                        </td>
                                        <td>{{item.objName}}</td>
                                        <td>{{item.extrTime}}</td>
                                        <td :title="item.objAbs">
                                            <div style="width:500px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;">{{item.objAbs}}</div>
                                        </td>
                                        <td>
                                            <input v-if="item.catalStatus==1" type='button' value='导出' class='btn-xs btn-default'  style='margin: 0px 5px 0px 5px' @click="download(item.objId)">
                                        </td>
                                        <td>{{item.catalTime}}</td>
                                        <td>{{databaseName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </form>
                <div class="overlay" id="loading" style="display: none">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 450px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编目节点选择</h4>
                </div>
                <div class="modal-body">
                    <div class="ztree">
                        <ul id="obj_org_tree" style="height: 500px; overflow: auto; -moz-user-select: none;"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="更换联系人信息" data-target="#contactConfigModal" class="btn btn-primary pull-left" @click="showContactModal">
                    <input type="button" v-if="!isUpdate" value="编目" id="catalogdd" class="btn btn-primary" @click="catalogue(0)">
                    <input type="button" v-if="isUpdate" value="更新节点" id="updatedd" class="btn btn-primary"  @click="catalogue(2)">
                    <input type="button" value="取消" class="btn btn-default" data-dismiss="modal">
                </div>
            </div>
        </div>
    </div>
     <!-- Modal -->
    <div class="modal fade" id="progressModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 450px;margin-top: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{progressTitle}}（{{progress}}%）</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-solid">
                        <!-- /.box-header -->
                        <div class="box-body text-center">
                            <div class="progress progress-striped active" style="width: 100%">
                                <div class="progress-bar progress-bar-primary" role="progressbar" :style="{width:progress+'%'}">{{progress}}%</div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contactConfigModal" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">联系人配置</h4>
                </div>
                <div class="modal-body" id="modal-body2">
                    <ul id="contactConfigTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#metadataContact" data-toggle="tab">元数据联系人</a>
                        </li>
                    </ul>
                    <div id="contactConfigTabContent" class="tab-content">
                        <div class="box-header">
                            <h3></h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input name="table_search" v-model="searchContact" class="form-control" id="searchContact" type="text">
                                    <div class="input-group-btn">
                                        <input type="button" class="btn btn-primary" @click="contactSearch" value="筛选">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="tab-pane fade in active" id="metadataContact">
                            <table class="table table-striped" border="1" id="dataContactTable">
                                <tr>
                                    <th Bgcolor=#b0c4de></th>
                                    <th Bgcolor=#b0c4de>联系人姓名</th>
                                    <th Bgcolor=#b0c4de>联系人ID</th>
                                    <th Bgcolor=#b0c4de>性别</th>
                                    <th Bgcolor=#b0c4de>单位名称</th>
                                    <th Bgcolor=#b0c4de>电话</th>
                                    <th Bgcolor=#b0c4de>传真</th>
                                    <th Bgcolor=#b0c4de>邮箱</th>
                                </tr>
                                <tbody id="dataContactTableBody">
                                     <tr v-for="item in contactList" :id="item.objId" @click="selectContact(item.objId)">
                                        <td style='width: 50px'>
                                            <input type='radio' name='contactcheckbox' :checked="contactSelect==item.objId" :value="item.objId">
                                        </td>
                                        <td>{{item.objName}}</td>
                                        <td>{{item.objId}}</td>
                                        <td>{{item.sex}}</td>
                                        <td>{{item.orgName}}</td>
                                        <td>{{item.telnumber}}</td>
                                        <td>{{item.faxnumb}}</td>
                                        <td>{{item.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center" style="width:600px">
                                <ul id="dataContactPage" class="pagination-sm pagination">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--  <input type="button" class="btn btn-default" data-toggle="modal" data-target="#supplementContactModal" id="supplementContact" value="补充">  !-->
                    <input type="button" class="btn btn-default" @click="bindContact" value="确认">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" onclick="" value="取消">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="supplementContactModal" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">补充联系人</h4>
                </div>
                <div class="modal-body" id="modal-body2">
                    <label for="supplementWorkUnit">单位</label>
                    <input id="supplementWorkUnit">
                    <label for="supplementCandidate">候选人员</label>
                    <input id="supplementCandidate">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="datacheckModal" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">不合格的元数据</h4>
                </div>
                <div class="modal-body" id="modal-body2">
                    <div id="contactConfigTabContent" class="tab-content">
                        <br>
                        <div class="tab-pane fade in active" id="datacheck">
                            <table class="table table-striped" border="1" id="idData">
                                <tr>
                                    <th Bgcolor=#b0c4de>唯一标识</th>
                                    <th Bgcolor=#b0c4de>名称</th>
                                    <th Bgcolor=#b0c4de>检查结果</th>
                                </tr>
                                <tbody id="tbodydata">
                               <!--<tr  v-for="(item,index) in datacheckList" :key="index">
                                    <td>{{item.id}}</td>
                                    <td>{{item.metaName}}</td>
                                    <td>{{item.datacheckResult}}</td>
                                </tr>-->

                                </tbody>
                            </table>
                            <div  align="center" >
                                <div id="barcon" name="barcon" style="color: black;"></div>
                            </div>
                            <!--<div class="text-center" style="width:600px">
                                <ul id="datacheckPage" class="pagination-sm pagination">
                                </ul>
                            </div>-->

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" onclick="" value="取消">
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/YU/javascript/metadata/manager/detail.js"></script>