<section class="content" id="obj">
  <div id="dptTree" class="row" style="position:relative;">
    <div class="col-md-12" style="position:absolute;float:left">
      <div class="box box-solid box-primary">
        <div class="box-header">
          <h3 class="box-title">机构部门分类</h3>
        </div>

      </div>
      <div class="row align-items-start">
        <div class="col-md-2 dpt_div" id="block0" style="background: #FFFFBF;height: 900px;margin-left: 5px">
          <div style="margin-top: 12px;margin-bottom: 12px">
            <button id="batch_del_0" class="btn btn-primary" style="margin-left:5px;width: 80px;height: 25px;line-height: 15px;"  @click="delBatches($event)" >批量删除</button>
            <button id="batch_import" class="btn btn-primary" style="width: 80px;height: 25px;line-height: 15px;">批量导入</button>
            <button id="coord_set" class="btn btn-primary" style="width: 80px;height: 25px;line-height: 15px;">贯标设置</button>
          </div>
            <div class="box-header with-border">
              <h3 class="box-title" id="title0">一级部门</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool all_add">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>

            <ul id="container0" class="todo-list ui-sortable" >
              <li v-for="item in msgJson0" :class="'ele li_' + item.node_code"  :id="item.node_id + '_' + item.node_code" :data_order="item.list_order" draggable="true" >
              <div class="icheck-primary d-inline">
             <input type="checkbox" id="checkboxPrimary0">
              <label for="checkboxPrimary0" >
                {{item.node_name}}
              </label>
              <div class="tools">
                <button :id="'button_0_' + item.node_code" type="button" class="btn btn-tool dpt_unfold_btn" data-card-widget="collapse" @click="loadChildNode($event)" ><i class="fa fa-angle-left unfold"></i>
                </button>
                </div>
              </div>
              </li>
          </ul>
        </div>
        <div class="col-md-2 dpt_div" id="block1" style="background: #FFFFBF;height: 900px;margin-left: 5px;display: none">
          <div style="margin-top: 12px;margin-bottom: 12px">
            <button id="batch_del_1" class="btn btn-primary" style="width: 80px;height: 25px;line-height: 15px;"  @click="delBatches($event)">批量删除</button>
          </div>

          <div class="box-header with-border" >
            <h3 class="box-title" id="title1">二级部门</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool all_add">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <ul id="container1" class="todo-list ui-sortable" >
              <li v-for="item in msgJson1" :class="'ele li_' + item.node_code"  :id="item.node_id + '_' + item.node_code" :data_order="item.list_order" draggable="true" >
                  <div class="icheck-primary d-inline">
                      <input type="checkbox" id="checkboxPrimary1">
                      <label for="checkboxPrimary1" >
                          {{item.node_name}}
                      </label>
                      <div class="tools">
                          <button :id="'button_1_' + item.node_code " type="button" class="btn btn-tool dpt_unfold_btn" data-card-widget="collapse" @click="loadChildNode($event)"><i class="fa fa-angle-left unfold"></i>
                          </button>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <div class="col-md-2 dpt_div" id="block2" style="background: #FFFFBF;height: 900px;margin-left: 5px;display: none">
          <div style="margin-top: 12px;margin-bottom: 12px">
            <button id="batch_del_2" class="btn btn-primary" style="width: 80px;height: 25px;line-height: 15px;"  @click="delBatches($event)">批量删除</button>
          </div>
          <div class="box-header with-border">
            <h3 class="box-title" id="title2" style="text-align: center">三级部门</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool all_add">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <ul id="container2" class="todo-list ui-sortable" >
              <li v-for="item in msgJson2" :class="'ele li_' + item.node_code"  :id="item.node_id + '_' + item.node_code " :data_order="item.list_order" draggable="true" >
                  <div class="icheck-primary d-inline">
                      <input type="checkbox" id="checkboxPrimary2">
                      <label for="checkboxPrimary2" >
                          {{item.node_name}}
                      </label>
                      <div class="tools">
                          <button :id="'button_2_' + item.node_code" type="button" class="btn btn-tool dpt_unfold_btn" data-card-widget="collapse" @click="loadChildNode($event)"><i class="fa fa-angle-left unfold"></i>
                          </button>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
      </div>
      </div>

    </div>
</section>
<!--自己的js-->
<script src="/YU/javascript/catalog/departmentDir/management/departmentTreeV.js"></script>

<!--有两个问题:-->
<!--1.点击同级节点时，二级节点的替换
    2.部门树怎么编码，01 99 00 00 0

-->