<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
</head>
<body>
<br><br><br><br>
<div class="ui container">
    <div class="ui attached  segment">
        <h1 class="ui header">一级标题</h1>
        <div class="ui middle aligned mobile reversed stackable grid" >

            <div class="seven wide column  ">
                <select class="ui search dropdown" style="width: 400px !important;">
                    <option value="NV">Nevada</option>
                </select>
                <br>
                <br>
                <form action="#" method="post"  th:action=" @{/objectImport/addObjRelConfig} "  class="ui form">
                    <div>
                        <table  class="ui compact teal table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>对象1</th>
                                <th></th>
                                <th>对象2</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td >1</td>
                                <td > <select name="ent1_name" style="width: 100px" class="ui search dropdown" >
                                    <option  value="">请选择</option>
                                    <option  value="RV">河流</option>
                                    <option value="LK">湖泊</option>
                                    <option value="RES">水库</option>
                                    <option value="BAS">流域</option>

                                </select></td>
                                <td ></td>
                                <td ><select name="ent2_name" style="width: 100px" class="ui search dropdown" >
                                    <option  value="">请选择</option>
                                    <option  value="RV">河流</option>
                                    <option value="LK">湖泊</option>
                                    <option value="RES">水库</option>
                                    <option value="BAS">流域</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td >2</td>
                                <td > <select name="ent1_name" style="width: 100px !important;" class="ui search dropdown" >
                                    <option  value="" >请选择</option>
                                    <option  value="RV">河流</option>
                                    <option value="LK">湖泊</option>
                                    <option value="RES">水库</option>
                                    <option value="BAS">流域</option>

                                </select></td>
                                <td > <select name="rel" style="width: 100px" class="ui search dropdown" >
                                    <option value="">选择关系</option>
                                    <option value="位于">位于</option>
                                    <option value="属于">属于</option>
                                    <option value="包含">包含</option>
                                    <option value="拥有">拥有</option>

                                </select></td>

                                <td ><select name="ent2_name" style="width: 100px" class="ui search dropdown" >
                                    <option  value="">请选择</option>
                                    <option  value="RV">河流</option>
                                    <option value="LK">湖泊</option>
                                    <option value="RES">水库</option>
                                    <option value="BAS">流域</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td >3</td>
                                <td > <select name="ent1_name" style="width: 100px" class="ui search dropdown" >
                                    <option   value="">请选择</option>
                                    <option  value="RV">河流</option>
                                    <option value="LK">湖泊</option>
                                    <option value="RES">水库</option>
                                    <option value="BAS">流域</option>
                                </select></td>
                                <td ></td>
                                <td ><select name="ent2_name" style="width: 100px" class="ui search dropdown" >
                                    <option   value="">请选择</option>
                                    <option  value="RV">河流</option>
                                    <option value="LK">湖泊</option>
                                    <option value="RES">水库</option>
                                    <option value="BAS">流域</option>
                                </select></td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="7">
                                    <button class="ui fluid submit button">提交</button>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
            <div class="nine wide column ">
                <div class="box-body">
                    <div id="catalogNodeList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length" id="example1_length" onchange="KGConfigPage.showPage()">
                                    <label> 展示
                                        <select id="length_selector" aria-controls="example1" class="ui search dropdown form-control input-sm">
                                            <option>5</option>
                                            <option>10</option>
                                        </select> 项结果
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="catalogNodeList" class="ui compact teal table table-bordered table-striped dataTable" role="grid" aria-describedby="catalogNodeList_info">

                                    <thead>
                                    <tr role="row">

                                        <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1"></th>
                                        <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">Subject</th>
                                        <th class="sorting_desc" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">Pre</th>
                                        <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">Object</th>
                                        <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">Operate</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="rel:${listRel}"  role="row" class="odd">
                                        <td  class="sorting_1">编号</td>
                                        <td th:text="${rel.entCode_1}">湖泊</td>
                                        <td th:text="${rel.relation}">属于</td>
                                        <td th:text="${rel.entCode_2}">流域</td>
                                        <td>
                                            <a href="#"  class="ui mini teal basic button">编辑</a>
                                            <a href="#"  class="ui mini red basic button">删除</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 表格分页器由 adminLTE 加载 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(function () {
        //$("#catalogNodeList").DataTable();  // 动态加载
        $('#catalogNodeList').DataTable({
            "paging": false,                 // 分页器
            "lengthChange": false,           // 列表显示长度
            "searching": false,              // 搜索框
            "ordering": true,                // 对已加载的数据按列排序
            "info": false,                   // 当前显示记录的位置（左下角）
            "autoWidth": false               // 自动调整列宽
        });

        var currentPage = [[${currentPage}]];
        var pageSize = [[${pageSize}]];
        var resultNum = [[${resultNum}]];
        // // 对结果计数器进行初始化
        DataProcessPage.initializeResultNum(resultNum);
        // 将分页器设置为当前的页粒度和当前页号值
        DataProcessPage.setPagination(pageSize,currentPage,resultNum);
        DataProcessPage.setPageSize(pageSize);

    });
</script>
</body>
</html>