<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--引入公用css-->
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/adminLTE/commons/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/adminLTE/commons/AdminLTE.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/adminLTE/commons/_all-skins.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/adminLTE/commons/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/adminLTE/commons/ionicons.min.css" />

    <!--插件类css在这里引入!用什么加什么-->

    <!--分页css-->
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/common/paging.css" />

    <!--schema管理-->
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/system/schemas/dataTables.bootstrap.css" />

    <!--插件类css在这里引入!用什么加什么-->
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/adminLTE/plugins/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../javascript/adminLTE/plugins/datepicker/datepicker3.css" />
    <!--下面这个没找到-->
    <link rel="stylesheet" type="text/css" href="../../../javascript/adminLTE/plugins/bootstrap-datetimepicker.min.css" />

    <!--你自己的css使用注释分开-->
    <!--jqplot-->
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/system/pages/index/jquery.jqplot.css" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheet/system/pages/index/index.css" />


</head>
<body>
    <h1 th:text="${title}" style="margin-left:10px;" ></h1>

<!--本例演示了，如何利用 adminLTE 模板，实现DEMO数据表检索与展示的部分。-->
<!--同时复用 adminLTE 提供的分页器 paging、检索框 search、行数据筛选 show 等元素。-->
<!--这些元素是由 adminLTE 通过本代码尾部的匿名函数通过调用DataTable来自动加载的，可以显示减少自身的代码量。-->
<!--在示例3, demo_3.html 中，将展示如何将本功能嵌入到 YU 后端框架内。-->

<div class="box">
    <div class="box-header">
        <h3>套用 AdminLTE 模板中的 table 样例来展示数据库表TB_DEMO_EMPLOYEE中的所有记录，包含分页器、搜索框、按列排序插件。</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

<!--        常见 HTML / adminLTE / Bootstrap / JQuery 标签解释-->
<!--        1. tabindex: 使控件获得键盘 TAB 键的焦点， -1： 获取不到焦点； 0：可获取焦点，顺序按元素在文档中的顺序决定； 〉0：数字越小，越先定位到-->
<!--        2. aria ： Accessible Rich Internet Application Suite.-->
<!--        3. aria-controls : 设置该元素受哪个控件控制。-->
<!--        4. rowspan ：当前列跨越几行-->
<!--        5. colspan ：当前列跨越几列-->
<!--        6. aria-label ： 对当前元素设置标签-->

        <div id="catalogNodeList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <!-- dataTable 顶部的 show, search 元素由 adminLTE 自动加载 -->


            <div class="row">
                <div class="col-sm-12">
                    <table id="catalogNodeList" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="catalogNodeList_info">

                        <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">员工编号</th>
                            <th class="sorting_desc" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">员工姓名</th>
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">性别</th>
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">身份证号</th>
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">民族</th>
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">籍贯</th>
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">电话号码</th>
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">合同起始日期</th>
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">合同终止日期</th>
                            <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">工龄</th>
                        </tr>
                        </thead>
                        <tbody>



                        <tr th:each="employee:${employees}" role="row" class="odd">

                            <td th:text="${employee.id}" class="sorting_1"></td>
                            <td th:text="${employee.name}"></td>
                            <td th:text="${employee.gender}"></td>
                            <td th:text="${employee.idCard}"></td>
                            <td th:text="${employee.nation.name}"></td>
                            <td th:text="${employee.nativePlace}"></td>
                            <td th:text="${employee.phone}"></td>
                            <td th:text="${employee.beginContract}"></td>
                            <td th:text="${employee.endContract}"></td>
                            <td th:text="${employee.workAge}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 表格分页器由 adminLTE 加载 -->
        </div>
    </div>
    <!-- /.box-body -->
</div>

<!--引入js-->
<!--公用js-->
<script type="text/javascript" src="../../../javascript/adminLTE/commons/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../../../javascript/adminLTE/commons/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../javascript/adminLTE/commons/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../javascript/adminLTE/commons/app.min.js"></script>
<script type="text/javascript" src="../../../javascript/adminLTE/commons/demo.js"></script>
<script type="text/javascript" src="../../../javascript/common/zTree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../../../javascript/common/zTree/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="../../../javascript/common/zTree/jquery.ztree.exedit.js"></script>
<script type="text/javascript" src="../../../javascript/common/zTree/jquery.ztree.exhide.js"></script>

<script type="text/javascript" src="../../../javascript/system/schemas/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../../javascript/system/schemas/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="../../../javascript/adminLTE/plugins/jquery.slimscroll.min.js"></script>


<!--引入插件的js-->
<!--日期选择器-->
<script type="text/javascript" src="../../../javascript/adminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../../../javascript/adminLTE/plugins/select2.full.min.js"></script>
<script type="text/javascript" src="../../../javascript/adminLTE/plugins/datepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="../../../javascript/adminLTE/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<script type="text/javascript" src="../../../javascript/adminLTE/plugins/datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<!--公共js类-->
<script type="text/javascript" src="../../../javascript/common/commons.js"></script>
<!--百度模板渲染引擎-->
<script type="text/javascript" src="../../../javascript/common/baiduTpls.js"></script>


<!--通过自定义 js 脚本的方式实现表格内容的查询-->
<script type="text/javascript">
    function searchTable() {
        var input, filter, table, tr, td, i, j, cells;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("catalogNodeList");
        tr = table.getElementsByTagName("tr");
        cells = document.getElementById("catalogNodeList").rows.item(0).cells.length;//列数

        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            for (j = 0; j < cells; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }
</script>


<!-- 由adminLTE 提供的，达到自动添加dataTable的show、search、page等元素并绑定相关事件的目标-->
<script>
    $(function () {
        //$("#catalogNodeList").DataTable();  // 动态加载
        $('#catalogNodeList').DataTable({
            "paging": true,                 // 分页器
            "lengthChange": true,          // 列表显示长度
            "searching": true,             // 搜索框
            "ordering": true,             // 按列排序
            "info": true,                  // 当前显示记录的位置（左下角）
            "autoWidth": false             // 自动调整列宽
        });
    });
</script>
</body>
</html>