<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    本例演示了，如何利用在复用 YU 后台框架分页器的基础上，通过lazy load 的方式来加载数据的过程-->
<!--    其基本步骤与示例3 /demo_3 类似，但有几点是需要注意的：-->
<!--    * 本页是将数据集划分成若干页，进而显示其中的一页数据，因此可以看到本.html的参数中，增加了：-->
<!--    - pageSize: 结果集的划分粒度，即每页可展示的结果数量-->
<!--    - currentPage: 当前展示的是第几页数据-->
<!--    - resultNum: 本例复用了后台框架的分页器和结果数量标签，因此需告诉用户完整的结果集大小。-->
<!--    * 既有的 adminLTE 控件只能对已从后端传送到前端的结果进行自动分页、调整页大小、检索等功能，如果要实现lazy load，需要自己实现这些功能-->
<!--    * 相对的，对于页面跳转、展示粒度更改等行为，需要自己实现相关事件行为-->

<!--    为实现本例功能，需示例 3 的步骤基础上，添加如下内容：-->
<!--    1. 路径为 /demo/demo_4，注意这里展示了如何在路径中添加多个参数的方式；-->
<!--    2. 在对应的 listCatalogNodesLazilyByPage controller中，展示了如何利用Ebean 实现对结果的排序、分页和特定页选择；-->
<!--    3. 在对应的 demoPage.lazy.js 中，添加了 showPage 方法，来实现分页展示的目标，注意在执行时对整个页面都进行了刷新；-->
<!--    4. 在此基础上，无论是初始化时的 load 方法，或是分页器绑定的跳页事件，还是展示粒度选择器 length_selector 的onchange事件，-->
<!--    都复用了 showPage方法，达到了松耦合的目标。-->
<h1 th:text="${title}" style="margin-left:10px;"></h1>
    <div class="col-xs-12">
        <!-- 引用 col-xs-12 的div，确保内部元素与边框保持适当距离 -->
        <div class="box">
            <div class="box-header">
                <h5>通过 Lazy 加载的方式来展示数据库表TB_DEMO_EMPLOYEE中的所有记录</h5>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="catalogNodeList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="example1_length" onchange="LazyDemoPage.showPage()">
                                <label> 展示
                                    <select id="length_selector" aria-controls="example1" class="form-control input-sm">
                                        <option>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> 项结果
                                </label>
                            </div>
                        </div>
                        <!--div class="col-sm-6">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                                </label>
                            </div>
                        </div-->
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <table id="catalogNodeList" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="catalogNodeList_info">

                                <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">员工编号</th>
                                    <th class="sorting_desc" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">员工姓名</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">性别</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">身份证号</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">民族</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">籍贯</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">电话号码</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">合同起始日期</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">合同终止日期</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">工龄</th>
                                </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="employee:${employees}" role="row" class="odd">

                                        <td th:text="${employee.id}" class="sorting_1"></td>
                                        <td th:text="${employee.name}"></td>
                                        <td th:text="${employee.gender}"></td>
                                        <td th:text="${employee.idCard}"></td>
                                        <td th:text="${employee.nation.name}"></td>
                                        <td th:text="${employee.nativePlace}"></td>
                                        <td th:text="${employee.phone}"></td>
                                        <td th:text="${employee.beginContract}"></td>
                                        <td th:text="${employee.endContract}"></td>
                                        <td th:text="${employee.workAge}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 表格分页器由 adminLTE 加载 -->
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>


<!-- 由adminLTE 提供的，达到自动添加dataTable的show、search、page等元素并绑定相关事件的目标-->
<script th:inline="javascript">
    $(function () {
        //$("#catalogNodeList").DataTable();  // 动态加载
        $('#catalogNodeList').DataTable({
            "paging": false,                 // 分页器
            "lengthChange": false,           // 列表显示长度
            "searching": false,              // 搜索框
            "ordering": true,                // 对已加载的数据按列排序
            "info": false,                   // 当前显示记录的位置（左下角）
            "autoWidth": false               // 自动调整列宽
        });

        var currentPage = [[${currentPage}]];
        var pageSize = [[${pageSize}]];
        var resultNum = [[${resultNum}]];
        // // 对结果计数器进行初始化
        LazyDemoPage.initializeResultNum(resultNum);
        // 将分页器设置为当前的页粒度和当前页号值
        LazyDemoPage.setPagination(pageSize,currentPage,resultNum);
        LazyDemoPage.setPageSize(pageSize);

    });
</script>
</body>
</html>