<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <!--    本例演示了，如何利用 YU 后台框架加载数据的过程 demo_3 页面与 YU 系统框架结合在一起。-->
    <!--    后台框架定义在 .org/hhu/yu/system/pages/controller/MainPage.java，其中的 views/main.scala.html 是所以后台管理页面的基础框架，-->
    <!--    包含了所有公用和特定的 css 样式和 js 脚本。-->
    <!--    -->
    <!--    为实现本例功能，需要完成以下步骤：-->
    <!--    1. 在.org/hhu/yu/system/demo/controller 中建立一个新的 control 函数；-->
    <!--    3. 在.resources/templates/system/demo 中建立一个新的前端页面，即本 demo_3.html 页面-->
    <!--    4. 加载本页面是通过一个 js load 函数来实现的，因此需在 .resources/public/javascripts/demo 中建立一个 js 脚本demoPage.js-->
    <!--    本系统要求每个功能模块的 js 脚本需放置在 .resources/static/javascript 中的一个独立文件夹内，文件夹路径同模块在 .org/hhu/yu/ 中的路径结构；-->
    <!--    5. 在 .resources/templates/system/pages/backgroundFrame.html 中，加入对上述新建 js 脚本的引用，脚本需要在该页面末尾处进行声明，-->
    <!--    从而能够在其它任意页面处，load 本页面的内容；-->
    <!--    6. 在 .resources/public/config/sys/menu.json 中加入本页面的菜单项，如下述例子：-->
    <!--    {-->
    <!--    "name":"Demo展示",                          ## 菜单名称-->
    <!--    "funName":"DemoPage.load()",                ## 页面加载函数位置-->
    <!--    "className":"demo",                         ## 定义该页面的名称，用于高亮该页面的菜单项，自定义即可。-->
    <!--    "permission":"ss,mdm,ctm,mdv,ctv,normal",   ## 可以访问该页面的角色列表-->
    <!--    "children":[]                               ## 子菜单项-->
    <!--    },-->
    <!--    7. 在 demoPage.js 中需新建一个 load 方法，来对页面进行加载，具体 load 函数内容见其上下文注释。-->

    <!--    但是这种方式下，由于所有页面内容，即DEMO数据表中的全部记录需全部加载到前端页面，在记录数量过多的情况下，会严重影响前端响应。-->
    <!--    如何采用自定义手段，实现大数据量的lazy加载，即需要哪一页，则加载哪一页的方式，将会在示例4中演示。-->

<body>
<h1 th:text="${title}" style="margin-left:10px;"></h1>
    <div class="col-xs-12">
        <!-- 引用 col-xs-12 的div，确保内部元素与边框保持适当距离 -->
        <div class="box">
            <div class="box-header">
                <h3>通过嵌入后台页面框架的方式来展示数据库表TB_DEMO_EMPLOYEE中的所有记录，包含分页器、搜索框、按列排序插件。</h3>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="catalogNodeList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="catalogNodeList" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="catalogNodeList_info">

                                <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">员工编号</th>
                                    <th class="sorting_desc" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">员工姓名</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">性别</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">身份证号</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">民族</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">籍贯</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">电话号码</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">合同起始日期</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">合同终止日期</th>
                                    <th class="sorting" tabindex="0"  aria-controls="catalogNodeList" rowspan="1" colspan="1">工龄</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="employee:${employees}" role="row" class="odd">

                                    <td th:text="${employee.id}" class="sorting_1"></td>
                                    <td th:text="${employee.name}"></td>
                                    <td th:text="${employee.gender}"></td>
                                    <td th:text="${employee.idCard}"></td>
                                    <td th:text="${employee.nation.name}"></td>
                                    <td th:text="${employee.nativePlace}"></td>
                                    <td th:text="${employee.phone}"></td>
                                    <td th:text="${employee.beginContract}"></td>
                                    <td th:text="${employee.endContract}"></td>
                                    <td th:text="${employee.workAge}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 表格分页器由 adminLTE 加载 -->
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>


<!-- 由adminLTE 提供的，达到自动添加dataTable的show、search、page等元素并绑定相关事件的目标-->
<script>
    $(function () {
        //$("#catalogNodeList").DataTable();  // 动态加载
        $('#catalogNodeList').DataTable({
            "paging": true,                 // 分页器
            "lengthChange": true,          // 列表显示长度
            "searching": true,             // 搜索框
            "ordering": true,             // 按列排序
            "info": true,                  // 当前显示记录的位置（左下角）
            "autoWidth": false             // 自动调整列宽
        });
    });
</script>
</body>
</html>