
<section class="content" id="vue">
<div class="row">

    <div class="col-md-4" style="width:33%;float:left;border-right-color: #0066CC;border-right-width:3px;border-right-style: solid">
        <div class="box box-solid box-primary" >
            <div class="box-header">
                <h3 class="box-title">对象抽取方案管理</h3>
            </div>
        </div>
        <div class="box box-primary" style="height: 760px;overflow-x:auto;">
               <div>
                   <ul id="treeDemo"  class="ztree" style="width:230px;"></ul>
               </div>
        </div>
    </div>

    <div class="col-md-8" style="width:67%;float:right">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">节点详细信息</h3>
            </div>
        </div>
        <div class="box box-primary" >
            <form role="form" class="form-horizontal">
                <div class="box-body" style="height:460px">

                        <div class="form-group" style="height:40px;margin:30px 0px 0px 5px;">
                            <label for="nodeNumber" class="col-sm-2 control-label" style="float:left;white-space:nowrap;">结点编号:&emsp;</label>
                            <div class="col-sm-6" style="float:left">
                            <input v-model="id" class="form-control" disabled="disabled" id="nodeNumber" readonly="true" placeholder="ID"/>
                            </div>
                        </div>

                        <div class="form-group"style="height:40px;margin:30px 0px 0px 5px;">
                            <label for="className_o" class="col-sm-2 control-label" style="float:left;white-space:nowrap;">对象类名称:&emsp;</label>
                            <div class="col-sm-6" style="float:left">
                            <input v-model="name" class="form-control" id="className_o"  readonly="true" placeholder="名称"/>
                            </div>
                        </div>

                        <div class="form-group" style="height:40px;margin:30px 0px 0px 5px;">
                            <label for="classEnName_o" class="col-sm-2 control-label" style="float:left;white-space:nowrap;">英文名称:&emsp;</label>
                            <div class="col-sm-6" style="float:left">
                            <input v-model="ename" class="form-control" disabled="disabled" id="classEnName_o"  readonly="true" placeholder="英文名称"/>
                            </div>
                        </div>

                        <!-- 依据 SL/T 213-2020 -->
                        <div class="form-group"style="height:40px;margin:30px 0px 0px 5px;">
                            <label for="classCode" class="col-sm-2 control-label" style="float:left;white-space:nowrap;">对象类编码:&emsp;</label>
                            <div class="col-sm-6" style="float:left">
                                <input v-model="classCode" class="form-control" id="classCode"  readonly="true" placeholder="对象类编码"/>
                            </div>
                        </div>

                        <input id="showhidepId" type="hidden" value=""/>
                        <div class="form-group" style="height:70px;margin:30px 0px 0px 5px;">
                            <label for="nodeShownum" class="col-sm-2 control-label" style="float:left;white-space:nowrap;">显示顺序:&emsp;</label>
                            <div class="col-sm-6" style="float:left">
                            <input v-model="listOrder" class="form-control" id="nodeShownum"  readonly="true"placeholder="显示顺序"/>
                            </div>
                        </div>



                        <div class="box-footer" style="height:100px">
<!--                            <input class="PER_BTN" permission="mdm,ss" type="button"  class="btn btn-primary" id="" style="width: 90px; height: 35px;text-align:center; margin-right: 30px;" onclick="addLeafObjectModel()" value="新增分类">-->
<!--                            <input class="PER_BTN" permission="mdm,ss" type="button"  class="btn btn-primary" id="" style="width: 90px; height: 35px;text-align:center;margin-right: 30px;" onclick="alterLeafObjectModel()" value="修改分类">-->
<!--                            <input class="PER_BTN" permission="mdm,ss" type="button"  class="btn btn-primary" id="" style="width: 90px; height: 35px;text-align:center;" onclick="delLeafObjectModel()" value="删除分类">-->

                            <div class="col-sm-8">
                            <input class="col-sm-1 pull-right PER_BTN btn btn-primary" permission="mdm,ss" type="button" id="" style="text-align:center;margin-right: 15px;width:110px;height:35px;" @click="goExtract" value="基本特征提取">
                            </div>
                            <div class="col-sm-3"></div>
                            <br>
                            <br>
<!--                            <input type="button"  class="btn btn-primary" id="" style="width: 90px; height: 35px;text-align:center;margin-right: 30px;" value="确认">-->
<!--                            <input type="button"   style="width: 90px; height: 35px;text-align:center;" value="取消">-->
                        </div>

                </div>
            </form>
        </div>
    </div>
        <!--增加父子节点的模态框-->
    <form class="form-horizontal">
        <div class="modal modal-default" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        <h4 class="modal-title">添加分类</h4>
                    </div>
                        <!--中间核心内容-->
                    <div class="form-group">
                        <label for="addClassid" class="col-sm-2 control-label">结点编号:</label>

                        <div class="col-sm-10">
                            <input  readonly="readonly" style="width:400px;" type="text" class="form-control" id="addClassid" placeholder="ID自动生成"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addClasschnname" class="col-sm-2 control-label">结点名称:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="addClasschnname" placeholder="结点名称由汉字组成(*必填)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addClassenname" class="col-sm-2 control-label">英文名称:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="addClassenname" placeholder="英文名称(*必填)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addARCI" class="col-sm-2 control-label">ARCI:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="addARCI" placeholder="英文名称(*必填)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addShownumber" class="col-sm-2 control-label">显示顺序:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="addShownumber" placeholder="显示顺序(*必填)"/>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <input type="button" type="button" onclick="increleafObjectModel()" style="margin:0px 80px 0px 0px;" class="btn btn-primary" value="添加">
                    </div>
                </div>
                    <!-- /.modal-content -->
            </div>
                <!-- /.modal-dialog -->
        </div>
    </form>

    <form class="form-horizontal">
        <div class="modal fade" id="attDataSoureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="width: 450px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">选择数据源</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">关联数据源</label>
                            <div class="col-sm-8" style="padding-top: 7px" >
                                <select  id="attributeSource" placeholder="请搜索" style="width:200px">
                                	<option v-for="item in dataList" :value="item.dbId">{{item.dbCName}}</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" value="确认" class="btn btn-primary" @click="datasourceConfirm">
                        <input type="button" value="取消" class="btn btn-default" data-dismiss="modal">
                    </div>
                </div>
            </div>
        </div>
    </form>



    <!--修改父子节点的模态框-->
    <form class="form-horizontal">
        <div class="modal modal-default" id="alterFu">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        <h4 class="modal-title">修改分类</h4>
                    </div>
                        <!--中间核心内容-->
                        <!--隐藏域-->
                    <input id="hidepId" type="hidden" value=""/>
                    <input id="hideoldshoworder" type="hidden" value="">
                    <div class="form-group">
                        <label for="alterFuClassid" class="col-sm-2 control-label">结点编号:</label>

                        <div class="col-sm-10">
                            <input readonly="readonly" style="width:400px;" type="text" class="form-control" id="alterFuClassid" placeholder="ID自动生成"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterFuClasschnname" class="col-sm-2 control-label">结点名称:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="alterFuClasschnname" placeholder="名称(*必填)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterFuClassenname" class="col-sm-2 control-label">英文名称:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="alterFuClassenname" placeholder="名称(*必填)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterFuarci" class="col-sm-2 control-label">ARCI</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="alterFuarci" placeholder="名称(*必填)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterFushownum" class="col-sm-2 control-label">显示顺序:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="alterFushownum" placeholder="显示顺序(*必填)"/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" onclick="SubAlterLeafFuObjectModel()" style="margin:0px 80px 0px 0px;" class="btn btn-primary" value="修改">
                    </div>
                </div>
                    <!-- /.modal-content -->
            </div>
                <!-- /.modal-dialog -->
        </div>
    </form>

    <form class="form-horizontal">
        <div class="modal modal-default" id="alterSon">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        <h4 class="modal-title">修改分类</h4>
                    </div>
                        <!--中间核心内容-->
                        <!--隐藏域-->
                    <input id="hideoldshoworder1" type="hidden" value=""/>
                    <div class="form-group">
                        <label for="alterZiClassid" class="col-sm-2 control-label">结点编号:</label>

                        <div class="col-sm-10">
                            <input readonly="readonly" style="width:400px;" type="text" class="form-control" id="alterZiClassid" placeholder="ID自动生成"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterZinodeid" class="col-sm-2 control-label">父级结点:</label>

                        <div class="col-sm-5">
                            <input style="width:400px;" type="text" class="form-control" id="alterZinodeid" placeholder="父级结点ID"/>
                        </div>
                        <label style="margin:0px 0px 0px 10px" class="col-sm-4 control-label">*(必填)</label>
                    </div>
                    <div class="form-group">
                        <label for="alterZiClasschnname" class="col-sm-2 control-label">结点名称:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="alterZiClasschnname" placeholder="名称(*必填)"/>
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="alterZiClassenname" class="col-sm-2 control-label">英文名称:</label>

                    <div class="col-sm-10">
                        <input style="width:400px;" type="text" class="form-control" id="alterZiClassenname" placeholder="名称(*必填)"/>
                    </div>
                </div>
                    <div class="form-group">
                        <label for="alterZiarci" class="col-sm-2 control-label">ARCI:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="alterZiarci" placeholder="名称(*必填)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterZishownum" class="col-sm-2 control-label">显示顺序:</label>

                        <div class="col-sm-10">
                            <input style="width:400px;" type="text" class="form-control" id="alterZishownum" placeholder="显示顺序(*必填)"/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" type="button" onclick="SubAlterLeafSonObjectModel()" style="margin:0px 80px 0px 0px;" class="btn btn-primary" value="修改">
                    </div>
                </div>
                    <!-- /.modal-content -->
            </div>
                <!-- /.modal-dialog -->
        </div>
    </form>
</div>
</section>
<script src="/YU/javascript/metadata/extract/management/index.js"></script>







